.card {
  background-color: #f3f3f3;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}

.card .detail {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .detail p {
  margin: 12px 0;
}

.card .detail .price>span:first-child {
  margin-right: 5px;
  font-size: 1.4rem;
}

.card .detail .price span {
  font-weight: bold;
}

.card .description {
  color: rgb(138, 163, 187);
  font-weight: bold;
  padding: 10px;
  border-top: 1px solid #d1d5da;
}

